<!--<table class="popupbar table table-striped">
  <thead class="thead-light">
    <tr>
      <th scope="col">Naam</th>
      <th scope="col">Eigenaar</th>
      <th scope="col">Locatie</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>{{ popupbar.name }}</td>
      <td>{{ popupbar.brewer }}</td>
      <td>{{ popupbar.location }}</td>
    </tr>
  </tbody>
</table>-->
<!-- <p (click)="onDelete(popupbar)">Delete</p> -->

<!--  <p>{{ popupbar.name }} {{ popupbar.location }} {{ popupbar.brewer }}</p>-->
